
<%= render "layouts/loggedIn" %>

<div class="page-header">
  <h1>Admin page</h1>
  <%=	 link_to "Back to admin applications", apps_path %>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Key</th>
    <th>Owner</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%	@apps.each do |app| %>
      <tr>
        <td>
          <strong>
            <%=	 app.app_name %>
          </strong>
        </td>
        <td>
          <%=	 app.key %>
        </td>
        <td>
          <%=	 User.find_by_id(app.user_id).name %>
        </td>
        <td>
          <%=  link_to "Remove app", app_path(app), method: :delete,
                       data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>