
<%= render "layouts/loggedIn" %>

<div class="page-header">
  <h1><%= logged_in_user.name %>'s applications</h1>
  <%=  link_to "Add application", new_app_path %>
  <%	 if logged_in_user.isAdmin %>
     <br> <%=  link_to "All applications", admins_path %>
  <% end %>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Key</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
      <%	@apps.each do |app| %>
        <tr>
            <td>
              <strong>
                <%=	 app.app_name %>
              </strong>
            </td>
            <td>
                <%=	 app.key %>
            </td>
            <td>
                <%=  link_to "Remove app", app_path(app), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
      <% end %>
  </tbody>
</table>


