
<%= render "layouts/loggedIn" %>

<div class="page-header">
  <h1>Register application</h1>
  <%= link_to 'Back', apps_path %>
</div>

<%=	  simple_form_for @app do |f| %>
    <%=	 f.input :app_name %>
    <%=	 f.button :submit %>
<% end %>









